{% load custom_filters %}
<h5>{{ topic.title }}</h5>
<p>{{ topic.content|sentence_break|safe }}</p>

<h6>Code Snippet</h6>
<pre style="background-color:#f4f4f4; padding: 1rem; border-left: 4px solid #2196f3; border-radius: 5px;">
    <code>{{ topic.code_snippet }}</code>
</pre>

<h6>Edit the Code</h6>
<div style="background-color:hsla(0, 0.00%, 97.30%, 0.99); padding: 1rem; border-radius: 8px; border:1px solid #444; margin-bottom: 1rem;">
    <form method="POST" id="code-form">
        {% csrf_token %}
        <textarea id="code-editor" name="code_snippet" rows="10" style="width: 100%;">{{ topic.code_snippet }}</textarea>
        <button type="submit" class="btn btn-primary">Run Code</button>
    </form>
</div>

<div id="output">
    <p>output</p>
    <pre>{{ output|safe }}</pre>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const textarea = document.getElementById("code-editor");
        const form = document.getElementById("code-form");
        const outputDiv = document.getElementById("output");
    
        const editor = CodeMirror.fromTextArea(textarea, {
            lineNumbers: true,
            mode: "python",
            matchBrackets: true,
            theme: "dracula",
            readOnly: false
        });
    
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            console.log("Form submitting...");
        
            const codeSnippet = textarea.value;
    
            console.log(codeSnippet); // Print the code snippet to the console
        
            fetch("{% url 'run_code' topic.id %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: `code_snippet=${encodeURIComponent(codeSnippet)}`
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response data:", data); // Log the response data to inspect it
                if (data.output) {
                    outputDiv.innerHTML = `<pre style="background: black; color: white; padding: 10px; border-radius: 5px; font-family: Consolas, monospace;">${data.output}</pre>`;
                } else if (data.error) {
                    outputDiv.innerHTML = `<pre style="background: #ff3333; color: white; padding: 10px; border-radius: 5px; font-family: Consolas, monospace;">${data.error}</pre>`;
                }
            })
            .catch(error => {
                console.error("Error in fetch:", error);
                outputDiv.innerHTML = `<pre style="background: #ff3333; color: white; padding: 10px; border-radius: 5px; font-family: Consolas, monospace;">Error: ${error}</pre>`;
            });
        });
    });
    </script>
    